
@{
    ViewBag.Title = "DeleteTeachersLab";
}

<h2>Delete Teacher's Lab?</h2>
<p>
    <button id="deleteYes">Yes</button>
    <form method="get" action="~/Home/ListOfTeachersLabs">
        <button id="deleteNo">No</button>
    </form>
</p>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#deleteYes").click(function (event) {
                DeleteTeachersLab();
            });
        });

        // Удаление книги
        function DeleteTeachersLab() {
            var id = @ViewBag.Id
            $.ajax({
                url: '/api/ListLabTeachers/' + id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    window.location = 'https://localhost:44350/Home/ListOfTeachersLabs';
                },
                error: function (x, y, z) {
                    alert('Error' + '\n' + 'Pleace checked the fields ' + '\n' + 'End try again');
                }
            });
        }

    </script>
}

